<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Mission Statement</title>
  <!-- Google Font: Inter -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet" />
  <!-- Link your external stylesheet -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  

</head>
<body>
    <main class="content">
        <h1>Purpose of New Student Orientation</h1>
    <p class="para">New Student Orientation is intended to help new students familiarize themselves with campus,
          what BYU-Idaho has to offer, and make lasting connections. We will help students illuminate concerns that they
          have and create friendships with other students enrolled in their first year.</p>
        <p class="para">This semester, our New Student Orientation is focused on “Lighting the World Continually”.
          During the month of December, we tried to bring light to those around us. Throughout New Student Orientation,
          let us continue to bear our light, share our light, and encourage others to do the same. </p>
        <p class="para">We can bear our light by striving to live worthy lives. The Lord commanded “be ye clean that
          bear the vessels of the Lord”. Similar to incandescent light bulbs being void of burnable oxygen, we must
          purify ourselves to allow our light to shine. President Russell M. Nelson said “Nothing opens the heavens
          quite like the combination of increased purity, exact obedience, earnest seeking, daily feasting on the words
          of Christ in the Book of Mormon, and regular time committed to temple and family history work.” </p>
        <p class="para">We can share our light through service and sacrifice. Recently we have had practice sharing and
          lighting the world over the Christmas season. Praying for opportunities to share your light will unlock hearts
          to touch. Let us continue to be “quick to observe” and “love God and our neighbor”. </p>
        <p class="para">Disciple leaders motivate others to inspire those around them. The people they impact strive to
          let their light shine and impact others. Try to notice ways that the people you interact with share their
          light. Your humility will help them feel God’s love. Don’t be afraid to let your light shine; pray for love
          and charity as “perfect love casteth out all fear.”</p>
        <p class="para">We are grateful for your help, your skills, and your willingness to serve. As you prepare for
          your mentor groups, we pray that you will know how to lift each member of your group. We hope you will
          experience the blessings and miracles that follow disciples of Jesus Christ as you assist Him in serving these
          first-year students and their parents. The Lord will sustain you as you humbly serve in this capacity. May you
          be blessed with joy and happiness this semester.</p>
        <p>With love,</p>
        <p>Cassi Devries, Rozlynn Evans, Kylie Jones, Talmage Kay, Rachel Stansbury, Seth Taylor</p>
        <p>New Student Orientation Team</p>
        <p>BYU-Idaho</p>
    <a href="{{ url_for('index') }}">Back to Home</a>
    </main>
    <footer class="footer">
    <img src="{{ url_for('static', filename='fyebluelogo.png') }}" alt="byuilogo" class="byuilogo">
  </footer>

</body>
</html>